body {
    background-color: black;
  }
  h1 {
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 500%;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align:center;
  }

  p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
  }