body {
    background-color: black;
  }
  @font-face {
    font-family: 'OCR-A BT';
    font-style: normal;
    font-weight: normal; 
    src: local('OCR-A BT'), url('OCR-a___.woff') format('woff');
  }
  h1 {
    color: whitesmoke;
    font-family:'OCR-A BT';
    font-size: 800%;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align:center;
  }

  p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
  }